{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" href="{% static 'css/Admin_page.css'%}">
    </head>
    <body>
        <header>Welcome Admin</header>
        <aside>
            <ul>
                <input type="button" class="nav_bt" name="Add" value="ADD" onclick="add()">
                <input type="button" class="nav_bt" name="delete" value="DELETE" onclick="delet()">
                <input type="button" class="nav_bt" name="update" value="UPDATE" onclick="update()">
                <input type="button" class="nav_bt" name="display" value="DISPLAY" onclick="display()"> 
            </ul>
        </aside>

       
    </body>
</html>